ul.itemList {padding:0; margin:0;}
ul.itemList li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    float: left;
}
ul.itemList li.active span {
    color: #aa0000;
    border-bottom: 1px dashed;
}